name: Test
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  workflow_call:
jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install example dependencies
        run: |
          cd examples/node && npm install
          cd ../cloudflare-workers && npm install
      - name: Test
        run: deno task test
